/*
* Copyright 2018, Bryan Chun
* Under the MIT license.
* 08/25/2018
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- app-bar
- sidebar
- content
*/

/* background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #fff;
}

.container {
  padding: 0;
}

/* sidebar customisations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*.container .three {
  background-color: #191A2C;
}*/

.sidebar {
  font-family: "Noto Sans";
}

.sidebar #dp {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10% 0;
}
.sidebar #name {
  text-align: center;
  font-size: 225%;
  font-weight: bold;
  margin-bottom: 1.0rem;
}

.sidebar .oneliner {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.sidebar #sections {
  margin-left: 10%;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

nav {
  /* nav text scales with window */
  font-size: 100%
}

nav ul li {
  list-style: none;
}

nav ul li a, nav ul li a:visited, nav ul li a:active {
  font-size: 100%;
  font-weight: bold;
  color: #555;
  padding: 0 15%;
  margin: 0;
}

nav ul li a:hover, nav ul li a:focus {
  color: #000;
}

/* app-bar: medium, github, linkedin
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.app-bar {
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-bar a {
  /*width: 33%;*/
  float: left;
  text-align: center;
  padding: 5% 10%;
  color: #444;
  font-size: 130%;
}

.app-bar a:hover {
  color: #000;
}

/* content customisations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*.container .eight {
  background-color: #AEA093;
}*/

.content {
  margin-top: 5%;
}

.content h3 {
  font-size: ;
}

section {
  font-family: "Source Sans Pro";
  font-weight: lighter;

  padding: 3% 5%;
  /*background: #444;*/
}

section ul {
  margin-left: 5%;
  list-style-type: square;
}

section ul ul {
  margin-bottom: 0%;
  margin-top: 0%;
}

hr.divider {
  /*width: 80%;*/
  color: #d8d8d8;
  margin-bottom: 0;
  margin-top: 0;
}

/**
 * TODO
 * 1. Colour Palette
 * 2. favicon
 * 3. Window squeeze threshold
 *
 * - extralight weight || fonts
 * - content supply
 * - personal flavours
 * - project and gallery management
 */