<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Bryan Chun</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-sacle=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.ico">

  <!-- FontAwesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google Analytics Tracking Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141136622-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141136622-1');
  </script>

  <!-- Vue.js
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- js-yaml
  https://github.com/nodeca/js-yaml
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="app">
    <div class="container">

      <div class="row">
        <div class="eleven columns featurepane">
          <section id="gallery"></section>
        </div>
      </div>

      <div class="row">
        <div class="three columns sidebar">
          <nav id="nav" v-cloak>

            <a :href="url">
              <img :src="dp_path" id="dp" />
            </a>
            <h1>{{ name }}</h1>
            <p v-for="line in oneliner">
              {{ line }}
            </p>

            <ul id="sections">
              <!-- <li><a href="https://bryanchun.github.io/blog/">
                <span class='red'>Blog</span>
              </a></li> -->
              <li><a href="#whoami">About Me</a></li>
              <li><a href="#education">Education</a></li>
              <li><a href="#work">Work</a></li>
              <li><a href="#projects-experience">Projects</a></li>
              <!-- <li><a href="#hobbies">Hobbies</a></li> -->
            </ul>
            <div class="app-bar">
              <a :href="mailto" title="Email"><i class="fa fa-at"></i></a> 
              <a :href="medium" title="Medium"><i class="fa fa-medium"></i></a> 
              <a :href="github" title="GitHub"><i class="fa fa-github"></i></a> 
              <a :href="linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a> 
            </div>
          </nav>
        </div>

        <div class="eight columns content">

          <section id="whoami" v-cloak>

            <p>{{ sections.whoami.punchline }}</p>
            <hr class="divider"><br />

            <span v-for="line in sections.whoami.body">
              <ul v-if="line.topics">
                <li v-for="topic in line.topics">
                  <b>{{ topic.name }}</b><span v-if="topic.name">: </span>
                  <span>{{ topic.desc }}</span>
                </li>
              </ul>
              <p v-else>{{ line }}</p>
            </span>

            <hr class="divider"><br/>

            <blockquote class="quote">
              {{ sections.whoami.quote }}
            </blockquote>
            
            <!-- <hr class="divider"> -->
          </section>
          

          <section id="education" v-cloak>
            <h4>Education</h4>
            <ul>
              <li v-for="study in sections.education">
                <span>{{ study.name }}</span>
                <ul v-if="study.notes" v-for="note in study.notes" class="details">
                  <li>{{ note }}</li>
                </ul>
                <p class="time">{{ study.time }}</p>
              </li>
            </ul>
            <hr class="divider">
          </section>
          
          <section id="work" v-cloak>
            <h4>Work experience</h4> 
            <ul>
              <li v-for="job in sections.work" class="project">
                <p class="title">{{ job.title }}</p>
                <p class="organisation"><a :href="job.url">{{ job.organisation }}</a></p>
              </li>
            </ul>
            <hr class="divider">
          </section>

          <section id="projects-experience" v-cloak>
            <h4>Projects & Experience</h4>
            <ul>
              <li v-for="project in sections.projects">
                <div class="project">
                  <p class="title">{{ project.title }}</p>
                  <p class="time">{{ project.time }}</p>
                  <span v-for="detail in project.details" class="details">
                    <span v-html="detail"></span>
                    {{ }}
                  </span>
                  <p class="details">{{ project.tech }}</p>
                  <p class="details">
                    <a v-for="(artifact, i) in project.artifacts" :href="artifact.url">
                      {{ artifact.name }}
                      <span v-if="i < project.artifacts.length - 1"> | </span>
                    </a> 
                  </p>
                  <p v-for="(organisation, i) in project.organisations" class="organisation">
                    <a v-if="organisation.url" :href="organisation.url">{{ organisation.name }}</a>
                    <span v-else>{{ organisation.name }}</span>
                    <span v-if="organisation.trailing">, {{ organisation.trailing }}</span>
                    <span v-if="i < project.organisations.length - 1"> & </span>
                  </p>
                </div>
              </li>
            <!-- <hr class="divider"> -->
          </section>
          
        </div>

      </div>
    </div>
  </div>

  <!-- load_yaml utility import
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/load_yaml.js"></script>

  <!-- Vue driver code
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/script.js"></script>

</body>
</html>

<!-- Credits:
     template from http://lilianweng.github.io/
   -->
